html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto';
    font-style: normal;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, li {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
}

header {
    z-index: 2;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

h1 {
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;

    text-align: center;

    color: #FFFFFF;
    padding: 3.55px 4.75px;
}

.logo-title {
    border: solid 1px white;
    background-image: url(../../assets/images/bamboo.svg);
    background-repeat: no-repeat;
    background-position: 10px 20px;


}

.logo {
    margin: 0.875rem 0 0.875rem 0;
    cursor: pointer;
}

.logo:hover {
    background-color: rgba(250, 111, 50, 0.3);
}

.logo_link {
    text-decoration: none;
}

.nav {
    position: absolute;

    background-color:rgb(0, 0, 0);
    width: 100%;

    z-index: 5;
}

.intro {
    background: url(../../assets/images/GiantPanda.jpg) no-repeat;
    background-size: cover;

    height: 29rem;

    z-index: 0;
}

.intro-contain {
    display: block;
    /* display: none; */

    position: relative;

    z-index: 1;
}

.main-wrapper {
    height: fit-content;
    background: 
    linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
    padding: 2.5rem 0 11.25rem 0;
}

.nav-items {
    display: flex;
    gap: 3.625rem;
}

.nav-item {
    position: relative;

    color: white;

    text-decoration: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;

    left: 20px;
}

.nav-item:hover {
    color: #FE9013;
    transform: scale(1.2);
}

.nav-item.active {
    color: #FE9013;
    cursor: default;
}

.logo_and_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.designed {
    color: white;
}

.designed-style {
    text-decoration:none;
    color:white;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
}

.designed-style:hover {
    color: orange;
}

.nav-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle {
    position: relative;
    height: 29.063rem;
    width: 29.063rem;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    top: 92px;
    left: 50%;
}

.intro-title {
    position: absolute;
    top: 4.625rem;
    left: 5.5rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 6.594rem;
    line-height: 75%;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.yellow {
    color: yellow;
}

.button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 1.563rem;
    border-style:none;
    padding: 1rem 5.5rem;

    cursor: pointer;
    transition-duration: 0.5s;
}

.button:hover {
    transition-duration: 0.5s;
    opacity: 0.5;
    transform: scale(0.95);
}

.button-style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    text-transform: uppercase;

    color:white;
}

.button-intro-pos {
    position: absolute;
    bottom: -46%;
    right: 9%;
}

h2 {
    font-size: 3rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    color: #333B41;
}

.the-backstage-block {
    display: flex;
    justify-content: space-between;

    position: relative;

    margin-bottom: 11rem;
}

.flowers {
    width: 18.313rem;
    height: 37.813rem;

    position: absolute;

    right: -28%;
    top: -30%;

    background-image: url(../../assets/images/flower_foto1.png);
    background-repeat: no-repeat;
    background-position: 100%;
    z-index: -1;
}

.block-img {
    margin-right: 5.438rem;
}

.bamboo-cap {
    max-width: 38.063rem;
}

.block-article {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #333B41;
}

.the_site {
    margin-bottom: 3.975rem;
}

.fav-line {
    display: flex;
}

.fav-lines_container {
    position: relative;

    margin-bottom: 3.6rem;
}

.how_it_works {
    font-size: 1.5rem;
}

.fav-img {
    width: 22.875rem;
    height: 22.875rem;
}


.fav-item {
    margin-right: 1.8rem;
    margin-bottom: 1.25rem;
    border: solid 1px rgba(250, 111, 50, 1);

    border-radius: 5px;

    transition-duration: 0.3s;
    cursor: pointer;
}

.fav-item:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
    background-color: rgba(117, 117, 117, 0.5);
}

.item01 {
    background-image: url(../../assets/images/banana-bamboo_icon.svg);
    background-repeat: no-repeat;
    background-position: 97% 97%;
}

.item02 {
    background-image: url(../../assets/images/meet-fish_icon.svg);
    background-repeat: no-repeat;
    background-position: 97% 97%;
}

.fav-item:last-child {
    margin-right: 0;
}

.fav-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;

    text-transform: uppercase;

    color: #000000;

    padding: 3px 0 0 16px;
}

.fav-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 0.938rem;
    line-height: 120%;

    color: #000000;
    padding: 0 0 10px 16px;
}

.btn-choose-container {
    padding-bottom: 6.25rem;

    text-align: center;
}

.btn-choose {
    padding: 1rem 3.5rem;
}

.btn-slide {
    height: 3.875rem;
    width: 3.875rem;
    border-radius: 50%;
    background-color: rgba(249, 128, 75, 1);
    transition-duration: 0.5s;
    cursor: pointer;
}

.btn-slide:hover {
    transition-duration: 0.5s;
    opacity: 0.5;
    transform: scale(0.8);
}

.btn-prev {
    position: absolute;
    left: -7%;
    bottom: 48%;
}

.btn-next {
    position: absolute;
    right: -7%;
    bottom: 48%;
}

.prev-arrow-transform {
    position: relative;
    top: 35%;
    left: 35%;
}

.next-arrow-transform {
    transform: scale(-1, 1);

    position: relative;
    top: 35%;
    left: 35%;
}


.yourfav {
    background: url(../../assets/images/palm_foto.png) -82% 100%, url(../../assets/images/strelitzia.png)100% 100%;
    background-repeat: no-repeat;
}



/* PICK AND FEED BLOCK */
/* PICK AND FEED BLOCK */
/* PICK AND FEED BLOCK */

.content-container {
    padding: 40px 100px 60px 100px
}

.pickandfeed {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;

    padding: 4.313rem 4.313rem 6.313rem 4.313rem;

    margin-bottom: 9rem;
}

.block-pickandfeed {
    background: rgba(253, 253, 255, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 20px;

    width: 100%;

    text-align: center;
}

.pickandfeed-title-style {
    color: #FE9013;

    white-space: nowrap;
}

.pickandfeed-style-01 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 200%;
    color: #333B41;

    text-align: left;
}

.pickandfeed-style-02 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 160%;
    color: #333B41;

    text-align: left;
}

.pickandfeed-style-03 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    color: #333B41;

    text-align: left;

    margin-bottom: 3.75rem;
}

.pickandfeed-style-04 {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 100%;

    color: #333B41;

    padding-bottom: 2.8rem;
}

.feed-item {
    width: 10.5rem;
    height: 15.25rem;
}

.feed-icon {
    width: 10.5rem;
    height: 10.5rem;
    background-color: white;
    border: solid 1px rgba(249, 128, 75, 1);
}

.feed-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-img {
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%)
}



.arrow-icon {
    padding: 0 1.875rem 0 1.875rem;
}

.arrow {
    margin-bottom: 4rem;
}

.esf-style {
    text-decoration: none;
    color:#333B41;
}

.esf-style:hover {
    opacity: 0.7;
}


/* TESTIMONIALS */
/* TESTIMONIALS */
/* TESTIMONIALS */

.item-testimonials {
    width: 16.75rem;
    height: 24.438rem;
    background-color: rgba(241, 243, 242, 1);
    border-radius: 1.25rem;

    border: solid 1px rgba(254, 189, 171, 0.74);

    margin-right: 1.875rem;

    overflow-y: hidden;
}

.item-testimonials:last-child {
    margin-right: 0;
}

.block-testimonials {
    display: flex;

    margin-bottom: 0.7rem;
}

.testimonials-style {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 130%;

    text-align: center;

    color: #333B41;

    margin-bottom: 2.938rem;
}

.content-testimonials {
    padding: 0.938rem;
}

.avatar {
    height: 2.313rem;
    width: 2.313rem;

    margin-right: 0.625rem;
    margin-bottom: 0.688rem;
    border-radius: 50%;
}

.avatar00 {
    background-image: url(../../assets/images/user_icon.svg);
}

.avatar01 {
    background-image: url(../../assets/images/oscar.jpg);
}

.avatar02 {
    background-image: url(../../assets/images/fredericka.jpg);
}

.avatar03 {
    background-image: url(../../assets/images/mila.jpg);
}

.profile {
    display: flex;
}

.name {
    font-weight: bold;
    font-size: 1rem;
    line-height: 120%;

    color: #000000;
}

.local, .marker, .time {
    font-weight: 300;
    font-size: 0.938rem;
    line-height: 120%;

    color: #BDBDBD;
}

.text {
    font-weight: 300;
    font-size: 0.938rem;
    line-height: 120%;

    color: #767474;}


    /* SLIDER */
    /* SLIDER */
    /* SLIDER */

.slidecontainer {
    width: 37.438rem;
    margin: 0 auto;
}

.slider {

    width: 100%;

    border-radius: 0.313rem;

    margin-bottom: 1.938rem;
    background: rgba(64, 73, 80, 1);
    

}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 48px;
    height: 48px;
    position: relative;
    z-index: 3;
    cursor: pointer;
    background: orange;
}

    /* SLIDER END */
    /* SLIDER END*/
    /* SLIDER END*/

.square-border {
    border-radius: 0.313rem;
}

.testimonials-section {
    background: url(../../assets/images/leav_foto.png) 85.25rem 31.25rem;
    background-repeat: no-repeat;

    padding-bottom: 11.25rem;
}



/* FOOTER */
/* FOOTER */
/* FOOTER */

.footer {
    background-color: #111115;
}

.logo-footer {
    font-weight: 300;

    border: solid 1px white;
    background-image: url(../../assets/images/bamboo.svg);
    background-repeat: no-repeat;
    background-position: 10px 20px;

    width: fit-content;
    filter: invert(1);
}

.logo-footer-container {
    padding-top: 40px;
}

.subscribe {
    font-weight: 300;
    font-size: 1.5rem;

    color: #FFFFFF;
}

.footer-container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 2.25rem;
}

.e-mail {
    background-color: transparent;
    border: solid 1px orange;

    padding: 0.625rem 1.7rem;

    margin-right: 0.625rem;
    margin-top: 20px;
}

input.e-mail::placeholder {
    color: orange;
}

input.e-mail,select,textarea {
    color:orange;
}

.contacts {
    margin-top: 40px;
}

.button-submit {
    border-radius: 0.313rem;
    border: solid 1px green;
    padding: 0.725rem 2.7rem;

    cursor: pointer;

    transition-duration: 0.3s;
}

.button-submit:hover {
    transition-duration: 0.3s;
    opacity: 0.6;

}

.btn-submit-style {
    color:green;
}

.btn-donate {
    margin-bottom: 2.9rem;

}

.media-item {
    margin-bottom: 0.625rem;
}

.media-item:last-child {
    margin-bottom: 0;
}

.icon {
    width: 1.625rem;
    height: 1.625rem;
    padding: 2px 2.375rem;
}

.icon:hover {
    transform:scale(1.1)
}

.icon_fb {
    background: url(../../assets/images/facebook.svg) no-repeat;

}

.icon_twitter {
    background: url(../../assets/images/twitter.svg) no-repeat;
}

.icon_inst {
    background: url(../../assets/images/instagram.svg) no-repeat;
}

.icon_youtube {
    background: url(../../assets/images/youtube.svg) no-repeat;
}

.media-style {
    font-size: 1rem;
    line-height: 140%;

    color: #FFFFFF;
    text-decoration: none;
}

.footer-container2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding-bottom: 3.125rem;
}

.footer_designed_style {
    font-weight: 100;
    font-size: 1rem;
    line-height: 130%;
    color: #FFFFFF;

    margin: 0 0 5px 0;
}

.nav-items-footer {
    margin: 0 0 0 70px;
}

.button-footer-pad {
    padding: 1rem 3.2rem;
}


.logo-footer-style {
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    
    text-align: center;
    
    color: #FFFFFF;
    padding: 3.55px 4.75px;
}


/* DONATION PAGE */
/* DONATION PAGE */
/* DONATION PAGE */

.donate-title-style {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 130%;

    color: #FFFFFF;

    margin-bottom: 0.625rem;
}

.article {
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;

    color: #FFFFFF;

    margin-bottom: 2.5rem;
}

.donate-info {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 130%;

    color: #FE9013;

    margin-bottom: 3.75rem;
}

.panda-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    margin-bottom: 3rem;
}

.number {
    font-size: 4.5rem;
    line-height: 80%;

    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.under-number {
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;

    text-align: center;

    color: #333B41;
}

.panda {
    width: 17.75rem;
    height: 15.375rem;
    background: url(../../assets/images/animals-widget.svg);
}

.amount {
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    text-align: left;
    color: #000000;
}

.amount-number {
    display: flex;
    justify-content: space-between;

    font-weight: 500;
    font-size: 1.625rem;
    line-height: 140%;

    text-transform: uppercase;

    color: #333B41;

    margin-bottom: 3.125rem;
}

.another-amount-input {
    background-position: 96% 50%;

    border-style: none;
    background-color: transparent;
    background-image: url(../../assets/images/dollar.svg);
    background-repeat: no-repeat;

    border:solid 1px rgba(117, 117, 117, 0.5);

    padding: 1rem 8.938rem 1rem 0.563rem;

    margin-bottom: 1.563rem;
}

input.another-amount-input::placeholder {
    font-size: 1rem;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 20px;
    height: 20px;
  
    border: 2px solid orange;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 10px;
  
    position: relative;
    top: 4px;
  }

  input[type="radio"]:checked {
    border: 6px solid rgb(255, 0, 0);
  }

.choice-amount {
    margin-bottom: 1.938rem;
}

.share {
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;

    color: #333B41;
}

.btn-feed {
    margin-bottom: 1.875rem;
}